.borderRadius15 {
  border-radius: 15px;
}

.fontConfig {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.fontXS {
  font-size: 12px;
}

.fontM {
  font-size: 16px;
}

.issueLabel {
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 2em;
}

.h5, .h5:hover {
  color: #0366d6;
  cursor: pointer;
}

.iconColor {
  fill: #22863a;
}

.bodypop {
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  width: 50%;
  height: 150px;
  padding: 15px;
  -webkit-line-clamp: 4;
}

.tag {
  background-color: #D1D5DA80;
}

#issues:hover {
  background-color: #f6f8fa;
}

a {
  text-decoration: none!important;
  color: black !important;
}

a:hover {
  color: #0366d6 !important;
}